.services-section{
    padding: 100px 0;
    .servivce__title{

        max-width: 800px;
        font-size: 64px;
        line-height: 64px;
        font-weight: 800;
        color: #1b5bf7;
        margin-bottom: 40px;

    }

    .service__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 24px;

        .service__card{
            display: flex;
            flex-direction: column;
            padding: 32px;
            background: #F4F7FF;
            border-radius: 8px;
            transition: all .2s linear;
            &:hover{
                box-shadow: 3px 3px 10px #0002;
            }
            img{
                margin-bottom: 24px;
            }
            
            p{
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                color: #18191f;
                margin-bottom: 20px;
            }

        }   
    }

}

@media screen and (max-width: 1000px) {
    .services-section{
        padding: 50px 0;
        .service__wrapper{
            grid-template-columns: repeat(2, 1fr);       
        }
    
    }
}

@media screen and (max-width: 620px) {
    .services-section{
        .servivce__title{
            font-size: 32px;
            line-height: 40px;
            font-weight: 800;
            margin-bottom: 20px;
            text-align: center;
        }
    
        .service__wrapper{
            gap: 12px;
            .service__card{
                padding: 14px;
                p{
                  font-size: 16px;
                  line-height: 24px;
                }
    
            }   
        }
    
    }
    
}